.fondo-index {
  background-color: #0a0f2c;
  color: #e0f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.contenedor-index {
  text-align: center;
}

.titulo-index {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.descripcion-index {
  margin-bottom: 2rem;
}

.boton-index {
  background-color: #265bff;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.boton-index:hover {
  background-color: #1e46c2;
}
